In [2]:

# importing required libraries
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np


# nltk libraries used for NLP
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
# from sklearn.naive_bayes import MultinomialNB

In [3]:
df = pd.read_csv('../dataset/train_cleaned.csv')

In [4]:
df.head()

,id,name,document_text,cat_name
0,22474,information regarding merger navios maritime c...,at special meeting held march 24 2021 sharehol...,Corporate Communications
1,27460,announcement approving change membership 2 fut...,on april 2 2021 china financial futures exchan...,Securities Settlement
2,6926,sfc suspends shiu yau wah five months,the securities futures commission sfc suspende...,Antitrust
3,6982,renminbi rmb haircut february 4 2020,pursuant section 262 clearing house procedures...,Securities Settlement
4,5022,antimoney laundering countering financing terr...,money laundering terrorism financing mltf fina...,Financial Crime

In [5]:
from nltk.tokenize import word_tokenize
def tokenise(df,col):
    df[col] = df[col].apply(word_tokenize)
    return df

In [6]:
df = tokenise(df,'name')

In [7]:
df = tokenise(df,'document_text')

In [8]:
df.head()

,id,name,document_text,cat_name
0,22474,"[information, regarding, merger, navios, marit...","[at, special, meeting, held, march, 24, 2021, ...",Corporate Communications
1,27460,"[announcement, approving, change, membership, ...","[on, april, 2, 2021, china, financial, futures...",Securities Settlement
2,6926,"[sfc, suspends, shiu, yau, wah, five, months]","[the, securities, futures, commission, sfc, su...",Antitrust
3,6982,"[renminbi, rmb, haircut, february, 4, 2020]","[pursuant, section, 262, clearing, house, proc...",Securities Settlement
4,5022,"[antimoney, laundering, countering, financing,...","[money, laundering, terrorism, financing, mltf...",Financial Crime