In [1]:

# importing required libraries
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np


# nltk libraries used for NLP
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LogisticRegression
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
# from sklearn.naive_bayes import MultinomialNB

In [25]:
# downloading required nltk libraries
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Suraj\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
df = pd.read_csv('../dataset/train.csv')

In [3]:
df.head(2)

,id,name,document_text,cat_name
0,22474,Information Regarding the Merger of Navios Mar...,"At a special meeting held on March 24, 2021 sh...",Corporate Communications
1,27460,Announcement on Approving the Change of Member...,"On April 2, 2021, the China Financial Futures ...",Securities Settlement

In [4]:
# df['cat_name'].value_counts()

In [5]:
df['cat_name'].unique()

array(['Corporate Communications', 'Securities Settlement', 'Antitrust',
       'Financial Crime', 'Commodities Trading', 'Examinations',
       'Insurance', 'Required Disclosures', 'Consumer protection',
       'Market Risk', 'Natural Disasters', 'Securities Management',
       'Information Filing', 'Quotation', 'Financial Accounting',
       'Securities Clearing', 'Listing', 'Records Maintenance',
       'Delivery', 'Monetary and Economic Policy', 'Banking',
       'Regulatory Actions', 'Securities Sales', 'Compliance Management',
       'Fees and Charges', 'Licensing', 'Legal Proceedings',
       'Corporate Governance', 'Exemptions', 'Legal',
       'Contract Provisions', 'Payments and Settlements', 'IT Risk',
       'Trade Pricing', 'Licensure and certification', 'Trade Settlement',
       'Market Abuse', 'Regulatory Reporting', 'Powers and Duties',
       'Money-Laundering and Terrorist Financing',
       'Accounting and Finance', 'Fraud', 'Broker Dealer',
       'Securities Issuing', 'Risk Management', 'Forms', 'Definitions',
       'Liquidity Risk', 'Money Services', 'Research'], dtype=object)

In [6]:
df['name'].head()

0    Information Regarding the Merger of Navios Mar...
1    Announcement on Approving the Change of Member...
2            SFC Suspends Shiu Yau Wah for Five Months
3              Renminbi RMB Haircut - February 4, 2020
4    Anti-Money Laundering, Countering Financing of...
Name: name, dtype: object

In [7]:
df['name'].head(50)

0     Information Regarding the Merger of Navios Mar...
1     Announcement on Approving the Change of Member...
2             SFC Suspends Shiu Yau Wah for Five Months
3               Renminbi RMB Haircut - February 4, 2020
4     Anti-Money Laundering, Countering Financing of...
5     Order Approving Proposed Rule Change Relating ...
6     Adjudication Order In Respect of PRB Securitie...
7     â€œSustainable Finance: The Changing Regulatory ...
8     Amendments to the General Regulation Under the...
9     Consumer Protection Airlines Commit To Timely ...
10    Consultation Paper on Compliance Standards for...
11    Proposed Rule; Extension of Comment Period - T...
12    The Autorite des Marches Financiers Now Overse...
13    Adjudication Order In Respect Of 5 Entities In...
14    Banca Carige Spa - Provision No. 113 of 22 Mar...
15    Notice of Filing and Immediate Effectiveness o...
16    Notice of Designation of a Longer Period for C...
17    Announcement on the Temporary Suspension of Tr...
18    The National Evaluation of the Risks of Money ...
19    Exchange Fund Abridged Balance Sheet and Curre...
20    Gaining Momentum - Results Of The 2021 BIS Sur...
21    Bitauto Holdings Limited - Cash Settlement Opt...
22    Notice of Filing and Immediate Effectiveness o...
23    OSFI Offers Technical Briefing for Media on Re...
24            TrueShares Structured Outcome (March) ETF
25    Update of ICE Clear Europe List of Permitted C...
26    Adjudication Order In The Matter of Uma Bansal...
27    Agreement By and Between Texas Citizens Bank, ...
28    Regulation to Amend Regulation 41-101 Respecti...
29    2019 Analysis Report on the Sale of Insurance ...
30    Energy Ministers Revisit The Issue Of High Ene...
31    3028. Decision on Amendments to the Decision o...
32    Arbitration Clauses, Choice of Law, and Choice...
33    Update of the Financial Entities Bureau for th...
34    Adjudication Order in Respect of Anoop Jain HU...
35    CVM Warns: Irregular Performance of Portfolio ...
36    $ 5 Trillion Economy: Aspiration to Action (Sh...
37          Sanctions Imposed on Nonghyup Bank Co., Ltd
38    Bank of Russia Ordinance On Amendments to Inst...
39    Final Rule  - Regulatory Capital Rule: Revised...
40    Notice of Filing of Proposed Rule Change To Am...
41    Proposed Rule Change to Provide for Promotiona...
42    ICO Call for Views: AI and Data Protection Ris...
43    A Proposal to Amend the Exchanges Market Maker...
44    Communique of Banco de Portugal on the Impleme...
45    Order Granting Permission to File Application ...
46                     Proposal to Amend Its Price List
47    An Act Relating to Banks, Making Appropriation...
48    Order of the Financial Supervision and Adminis...
49    Climate Risk - the Merits of Transparency and ...
Name: name, dtype: object

In [8]:
df['name_length'] = df['name'].apply(lambda x: len(x))

In [9]:
df['document_text_length'] = df['document_text'].apply(lambda x: len(x))

In [10]:
df.head(2)

,id,name,document_text,cat_name,name_length,document_text_length
0,22474,Information Regarding the Merger of Navios Mar...,"At a special meeting held on March 24, 2021 sh...",Corporate Communications,73,584
1,27460,Announcement on Approving the Change of Member...,"On April 2, 2021, the China Financial Futures ...",Securities Settlement,73,536

In [11]:
# function to remove stopwords(like a, the, is, are, etc) and lemmatize the words
def remove_stopowords(text):
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(text)
    filtered_sentence = [w for w in word_tokens if not w in stop_words]
    return ' '.join(filtered_sentence)

In [12]:
def remove_puntuations(text):
    puntuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    no_puntuations = ""
    for char in text:
        if char not in puntuations:
            no_puntuations = no_puntuations + char
    return no_puntuations

In [13]:
df['name'] = df['name'].apply(lambda x: remove_puntuations(x))

In [14]:
df['name'] = df['name'].apply(lambda x: remove_stopowords(x))

In [15]:
df['name'] = df['name'].apply(lambda x: x.lower())

In [16]:
df['document_text'] = df['document_text'].apply(lambda x: remove_puntuations(x))

In [17]:
df['document_text'] = df['document_text'].apply(lambda x: remove_stopowords(x))

In [18]:

df['document_text'] = df['document_text'].apply(lambda x: x.lower())

In [20]:
df.drop(['name_length', 'document_text_length'], axis=1, inplace=True)

In [21]:
df.head()

,id,name,document_text,cat_name
0,22474,information regarding merger navios maritime c...,at special meeting held march 24 2021 sharehol...,Corporate Communications
1,27460,announcement approving change membership 2 fut...,on april 2 2021 china financial futures exchan...,Securities Settlement
2,6926,sfc suspends shiu yau wah five months,the securities futures commission sfc suspende...,Antitrust
3,6982,renminbi rmb haircut february 4 2020,pursuant section 262 clearing house procedures...,Securities Settlement
4,5022,antimoney laundering countering financing terr...,money laundering terrorism financing mltf fina...,Financial Crime

In [22]:
df.to_csv('../dataset/train_cleaned.csv', index=False)

In [37]:
df['new_name_length'] = df['name'].apply(lambda x: len(x))
df['new_document_text_length'] = df['document_text'].apply(lambda x: len(x))

In [38]:
df.head(4)

,id,name,document_text,cat_name,name_length,document_text_length,new_name_length,new_document_text_length
0,22474,information regarding merger navios maritime c...,at special meeting held march 24 2021 sharehol...,Corporate Communications,73,584,64,507
1,27460,announcement approving change membership 2 fut...,on april 2 2021 china financial futures exchan...,Securities Settlement,73,536,60,451
2,6926,sfc suspends shiu yau wah five months,the securities futures commission sfc suspende...,Antitrust,41,898,37,694
3,6982,renminbi rmb haircut february 4 2020,pursuant section 262 clearing house procedures...,Securities Settlement,39,771,36,582

In [39]:
df

In [ ]:
df['name'] = df['name'].apply